.showMore {
  display: block;
  color: #0081f2;
  font-weight: 500;
  cursor: pointer;
  padding-top: 15px;
  margin-top: -25px;
  margin-bottom: 25px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showMoreArrowUp {
  margin-bottom: -25px;
  font-size: 36px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showMoreArrowDown {
  margin-top: -25px;
  font-size: 36px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
